<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <h2><%= @user.name %>さんとのチャット</h2>


            <table id = "message table">
              <% @chats.each do |chat| %>
                <% if chat.user_id == current_user.id %>
                  <tr>
                    <th></th>
                    <h4>
                      <p style="text-align: right;"><%= chat.message %></p>
                    </h4>
                    <th></th>
                  </tr>
                <% else %>
                  <tr>
                    <th></th>
                    <th>
                      <p style="text-align: left;"><%= chat.message %></p>
                    </th>
                  </tr>
                <% end %>
              <% end %>
            </table>

            <%= form_with model: @chat, remote: true do |f| %>
              <%= f.text_field :message %>
              <%= f.hidden_field :room_id %>
              <%= f.submit %>
            <% end %>
        </div>
    </div>
</div>