<% if @range == "User" %>
<h2>Users search for
    "<%= params[:word] %>"
</h2>
<% else %>
<h2>Books search for
　　"<%= params[:word] %>"
　　"<%= params[:keyword] %>"
</h2>
<% end %>


<table class="table table-hover table-inverse">

  <% if @range == "User" %>
    <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  　</thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= image_tag user.get_profile_image, size: '50x50' %></td>
          <td><%= user.name %></td>
          <td>フォロー数: <%= user.followings.count %></td>
          <td>フォロワー数: <%= user.followers.count %></td>
          <td><%= link_to 'Show', user %></td>
        </tr>
      <% end %>
    </tbody>
  <% else %>
  　<thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th>Tag</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
      <% @books.each do |book| %>
        <tr>
          <td><%= image_tag book.user.get_profile_image, size: '50x50' %></td>
          <td><%= book.title %></td>
          <td><%= book.body %></td>
          <td><%= link_to book.category, search_path(keyword: book.category) %></td>
          <td id="favorite_btn-<%= book.id %>">
　　　     <%= render "favorites/favorite_btn", book: book %>
　　      </td>
　　      <td>
           <p>コメント数：<%= book.book_comments.count %></p>
          </td>
          <td>
            <div id="star-rate<%= book.id %>"></td>
             <script>
              $('#star-rate<%= book.id %>').empty();
              $('#star-rate<%= book.id %>').raty({
                 size      : 36,
                 starOff   : '<%= asset_path('star-off.png') %>',
                 starOn    : '<%= asset_path('star-on.png') %>',
                 starHalf  : '<%= asset_path('star-half.png') %>',
                 half      : true,
                 readOnly: true,
                 score: <%= book.star %>,
               });
             </script>
          </td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>